Week 2 day 1
#style.css 
{
	margin: 200px;
	padding: 50px;
	box-sizing:border-box;
}


.container {
padding: 10px;
margin: 50px;
display: flex;
flex-direction:column;
justify-content: space-between;
align-items: center;
text-align: center;
border: 5px solid red;
flex: 50%;

}

.item{
background-color: lightblue;
color: white;
font-size: 70px;
padding: 0;
margin: 10px;
flex-shrink: 1;
}
.items-1{
width: 50%;
height: 200px;
margin-left: center;

}

.items-2{
height: 200px;
width: 100%;
margin-left: auto;

}
.items-3{
width: 50%;
height: 200px;
margin-left: center;
}
